<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/axios.js"></script>
  </head>
  <body>
    <h3>登录页</h3>

    <div>用户名：<input type="text" id="username" /></div>
    <div>密码：<input type="password" id="password" /></div>
    <div><input type="button" value="登录" id="login" /></div>
  </body>
  <script>
    const username = document.getElementById('username');
    const password = document.getElementById('password');
    const login = document.getElementById('login');

    // 登录校验
    login.onclick = () => {
      axios
        .post('/api/users/login', {
          username: username.value,
          password: password.value,
        })
        .then((res) => {
          res = res.data;
          if (res?.ok === 1) {
            localStorage.setItem('username', username.value);
            location.href = '/chat';
          } else {
            alert('用户名或密码错误');
          }
        });
    };
  </script>
</html>
