<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      // Add a request interceptor
      axios.interceptors.request.use(
        function (config) {
          // Do something before request is sent
          const authorization = localStorage.getItem('authorization');
          // console.log(
          //   authorization,
          //   '发起请求之前从localStorage中读取authorization，存放到接口的headers中'
          // );
          config.headers.authorization = `Bearer ${authorization}`;
          return config;
        },
        function (error) {
          // Do something with request error
          return Promise.reject(error);
        }
      );

      // Add a response interceptor
      axios.interceptors.response.use(
        function (response) {
          // Any status code that lie within the range of 2xx cause this function to trigger
          // Do something with response data
          // console.log(response.headers);
          const { authorization } = response.headers;
          authorization && localStorage.setItem('authorization', authorization);
          return response;
        },
        function (error) {
          console.log(error.response.status);
          if (error.response.status === 401) {
            location.href = '/login';
            localStorage.removeItem('authorization');
          }
          // Any status codes that falls outside the range of 2xx cause this function to trigger
          // Do something with response error
          return Promise.reject(error);
        }
      );
    </script>
    <!-- <style>
      td img {
        width: 80px;
        height: 80px;
        margin-right: 8px;
      }
    </style> -->
  </head>
  <body>
    <h3>用户管理系统</h3>
    <h2>
      <button id="logout">退出登录</button>
    </h2>
    <div>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>用户名</th>
            <th>密码</th>
            <th>年龄</th>
          </tr>
        </thead>
        <tbody id="tbody"></tbody>
      </table>
    </div>
  </body>
  <script>
    const tbody = document.getElementById('tbody');
    const logout = document.getElementById('logout');

    // 退出登录
    logout.onclick = () => {
      localStorage.removeItem('token');
      location.href = '/login';
    };

    // 查询
    axios.post('/users').then((res) => {
      res = res.data || [];
      // console.log(res, 'res返回的数据');
      tbody.innerHTML = Array.isArray(res)
        ? res
            ?.map((item) => {
              return `
            <tr>
              <td>${item._id}</td>
              <td>${item?.username}</td>
              <td>${item?.password}</td>
              <td>${item?.age}</td>
            </tr>
          `;
            })
            .join('')
        : '';
    });
  </script>
</html>
