<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/axios.js"></script>
  </head>
  <body>
    <h3>用户管理系统</h3>
    <h2>
      <button id="logout">退出登录</button>
    </h2>
    <div>
      <div>用户名：<input type="text" id="username" /></div>
      <div>密码：<input type="password" id="password" /></div>
      <div>年龄：<input type="text" id="age" /></div>
      <div><input type="button" value="添加用户" id="register" /></div>
      <div><input type="button" value="更新用户" id="update" /></div>
      <div><input type="button" value="删除用户" id="delete" /></div>

      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>用户名</th>
            <th>密码</th>
            <th>年龄</th>
          </tr>
        </thead>
        <tbody id="tbody"></tbody>
      </table>
      <div>总数：<span id="num"></span></div>
    </div>
  </body>
  <script>
    const username = document.getElementById('username');
    const password = document.getElementById('password');
    const age = document.getElementById('age');
    const register = document.getElementById('register');
    const update = document.getElementById('update');
    const deleteBtn = document.getElementById('delete');
    const tbody = document.getElementById('tbody');
    const num = document.getElementById('num');
    const logout = document.getElementById('logout');

    // 退出登录
    logout.onclick = () => {
      localStorage.removeItem('token');
      location.href = '/login';
    };

    // 增
    register.onclick = () => {
      axios
        .post('/api/users', {
          username: username.value,
          password: password.value,
          age: age.value,
        })
        .then((res) => {
          console.log(res.data);
        });
    };

    // 改
    update.onclick = () => {
      axios
        .put('/api/users/634527a7ce66ddc358a1961f', {
          username: '修改后的username',
          password: '修改后的password',
          age: 900,
        })
        .then((res) => {
          console.log(res.data);
        });
    };

    // 删
    deleteBtn.onclick = () => {
      axios.delete('/api/users/634527a7ce66ddc358a1961f').then((res) => {
        console.log(res.data);
      });
    };

    // 查询
    axios.get('/api/users?pageNum=1&pageSize=5').then((res) => {
      res = res.data;
      tbody.innerHTML = res.data
        .map((item) => {
          return `
            <tr>
              <td>${item._id}</td>
              <td>${item?.username}</td>
              <td>${item?.password}</td>
              <td>${item?.age}</td>
            </tr>
          `;
        })
        .join('');

      num.innerText = res.totalCount;
    });
  </script>
</html>
